# Node.js modules
node_modules/

# Build outputs
build/
dist/

# Deno
*.deno
deno.lock
.deno/

# Logs
*.log
*.out

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Frontend Build
frontend/build/

# Backend temporary files
backend/.deno/

# Cache files for Phaser.js
frontend/.phaser/

# IDE or editor settings
.vscode/
.idea/
